<%- include('partials/head') %>

<title>Éclats torréfiés - Catalogue</title>

<%- include('partials/header') %>

<section>
  <article class="breadcrumb">
    <ul>
      <li>Accueil</li>
      <li>Le catalogue</li>
    </ul>
  </article>
</section>

<section>
  <% coffees.forEach(coffee => { %>

  <article>
    <h2><%= coffee.name %></h2>
    <img
      src="./img/<%= coffee.reference %>.png"
      class="coffee-samples-img"
      alt="Grains de café expresso"
      aria-label="Grains de café expresso"
    />
    <p><%= coffee.description%></p>
    <p>Prix au kilo : <%= coffee.kilo_price %> €</p>
    <p>Caractéristique principale : <%= coffee.main_characteristic %></p>
    <a href="/article/:<%= coffee.name %>">Plus d'informations</a>
  </article>

  <% }) %> <%- include('partials/footer') %>
</section>
